@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/*para textos*/
.grey {
  color: #eeeeee;
}

/*para los fondos*/
.black {
  color: #222831;
}

/*para los fondos de los mensajes*/
.blackDeg {
  background-color: #2e3135;
}
.blackDegbg {
  background-color: #1d20247c;
}

/*para acentuar y bordes*/
.yellowBg {
  background-color: #ffd369;
}
.titleColor {
  color: #ffd369;
}
.borderYellow {
  border-color: #ffd26934;
}
.bgBlurYellow {
  background-color: #ffd26969;
  backdrop-filter: blur(2px);
}

/*scroll custom*/

::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  margin: 10px;
}

::-webkit-scrollbar-thumb {
  background: #c99b05b7;
  border-radius: 5px;
  padding: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c99b057e;
}

/*fonts*/

.animalHunter {
  font-family: var(--font-animal-hunter);
}
.mesoninaRegular {
  font-family: var(--font-mesonina-regular);
}

.message {
  padding: 6px 10px;
}

.message--match {
  color: #561303;
}

.message--active {
  border: #561303 solid 2px;
}

.message--you {
  text-align: right;
  background-color: #a29714;
  margin: 10px;
  width: fit-content;
  max-width: 70%;
  padding: 8px 12px;
  border-radius: 12px;
  margin-right: 1.6rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  display: block;
  align-self: flex-end;
  border: #0a0a0a solid 1px;
}

.message--you-xl {
  text-align: right;
  background-color: #a29714;
  margin: 10px;
  width: fit-content;
  max-width: 70%;
  padding: 8px 12px;
  border-radius: 12px;
  margin-right: 13rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  display: block;
  align-self: flex-end;
  border: #0a0a0a solid 1px;
}
.message--other {
  text-align: left;
  background-color: #a98543;
  margin: 10px;
  margin-left: 1.6rem;
  width: fit-content;
  max-width: 70%;
  padding: 8px 12px;
  border-radius: 12px;

  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;

  display: block;
  align-self: flex-start;
}
.message--other-xl {
  text-align: left;
  background-color: #a98543;
  margin: 10px;
  margin-left: 14rem;
  width: fit-content;
  max-width: 70%;
  padding: 8px 12px;
  border-radius: 12px;

  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;

  display: block;
  align-self: flex-start;
}

.message--system {
  align-self: center;
  margin-right: 230px;
}
