@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/*para textos*/
.grey{
  color:#EEEEEE
}

/*para los fondos*/
.black{
  color:#222831
}

/*para los fondos de los mensajes*/
.blackDeg{
  color:#393E46
}

/*para acentuar y bordes*/
.yellowBg{
  background-color:#FFD369
}
.titleColor{
  color:#FFD369
}
.borderYellow{
  border-color: #ffd26910;
}
.bgBlurYellow{
  background-color: #ffd26969;
  backdrop-filter: blur(2px);
}
/*fonts*/

.animalHunter{
  font-family: var(--font-animal-hunter);
}
.mesoninaRegular{
  font-family: var(--font-mesonina-regular);
}