@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/*para textos*/
.grey{
  color:#EEEEEE
}

/*para los fondos*/
.black{
  color:#222831
}

/*para los fondos de los mensajes*/
.blackDeg{
  background-color:#2e3135
}
.blackDegbg{
  background-color:#1d20247c
}

/*para acentuar y bordes*/
.yellowBg{
  background-color:#FFD369
}
.titleColor{
  color:#FFD369
}
.borderYellow{
  border-color: #ffd26934;
}
.bgBlurYellow{
  background-color: #ffd26969;
  backdrop-filter: blur(2px);
}

/*scroll custom*/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c99b05b7;
  border-radius: 5px;
  padding: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*fonts*/

.animalHunter{
  font-family: var(--font-animal-hunter);
}
.mesoninaRegular{
  font-family: var(--font-mesonina-regular);
}

.message {
  padding: 6px 10px;
  
}

.message--match {
color: #561303;
}

.message--active {
  border: #561303 solid 2px;
  }

.message--you {
  text-align: right;
  background-color: #a29714;
  margin: 10px;
  width: fit-content;
  max-width: 70%;
  padding: 8px 12px;
  border-radius: 12px;
  margin-right: 14rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;

  display: block;
  align-self: flex-end;
}
.message--other {
  text-align: left;
  background-color: #a98543;
  margin: 10px;
  margin-left: 14rem;
  width: fit-content;
  max-width: 70%;
  padding: 8px 12px;
  border-radius: 12px;

  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;

  display: block;
  align-self: flex-start;
}

.message--system {
  align-self: center;
  background-color: #999;
}